{% extends 'base.html' %}

{% block content %}
<!--
<div>
<a href="{% url 'oneitem-list' rank_before %}">rank before</a>
<a href="{% url 'oneitem-list' rank_next %}">rank next</a>
</div>
-->

<div class="mdl-grid">
   <div class="mdl-layout-spacer"></div>
    <div class=" mdl-cell--8-col mdl-card mdl-shadow--2dp" style="min-height:0">
  <div class="mdl-card__title">
    <span class="mdl-chip mdl-color--blue">
        <span class="mdl-chip__text mdl-color-text--white">{{ object_list.last.rank }}</span>
    </span>
    <span style="margin-left:10px;">
        <h2 class="mdl-card__title-text">{{ object_list.last.url}}</h2>
    </span>
  </div>
  <div class="mdl-card__supporting-text">
      {{ object_list.last.desc}}
  </div>
  <div class="mdl-card__actions mdl-card--border">
      {% if object_list.last.language %}
<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color-text--white mdl-color--amber"></span>
    <span class="mdl-chip__text">{{ object_list.last.language }}</span>
</span>
      {% endif %}
<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fa fa-star" aria-hidden="true"></i></span>
    <span class="mdl-chip__text">{{ object_list.last.star_count }}</span>
</span>
<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
    <span class="mdl-chip__text">{{ object_list.last.fork_count }}</span>
</span>

<span class="mdl-chip mdl-chip--contact" style="float:right">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fa fa-star" aria-hidden="true"></i></span>
    <span class="mdl-chip__text">{{ object_list.last.today_star_count }} stars today </span>
</span>


  </div>
  <div class="mdl-card__menu">
      <a href="https://www.github.com{{ object_list.last.url }}" target="_blank">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="fa fa-github" aria-hidden="true"></i>
    </button>
          </a>
  </div>
</div>
   <div class="mdl-layout-spacer"></div>
</div>


<div id="container" style="width:100%; height:400px;"></div>
<div id="today_star_chart" style="width:100%; height:300px;"></div>
<div id="star_chart" style="width:100%; height:300px;"></div>
<div id="fork_chart" style="width:100%; height:300px;"></div>

<ul class="mdl-list">
{% for object in object_list %}
  <li class="mdl-list__item" style="border-top:1px solid lightgray">
    <span class="mdl-list__item-primary-content">
    <span class="mdl-chip mdl-color--blue">
        <span class="mdl-chip__text mdl-color-text--white">{{ object.rank }}</span>
    </span>
      <span>
<span class="mdl-chip mdl-chip--contact"  style="margin-left:10px;">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fa fa-star" aria-hidden="true"></i></span>
    <span class="mdl-chip__text">{{ object.today_star_count  }} stars today</span>
</span>
<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fa fa-star" aria-hidden="true"></i></span>
    <span class="mdl-chip__text">{{ object.star_count  }}</span>
</span>
<span class="mdl-chip mdl-chip--contact">
    <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white"><i class="fa fa-code-fork" aria-hidden="true"></i></span>
    <span class="mdl-chip__text">{{ object.fork_count  }}</span>
</span>
      </span>
    </span>
    <span class="mdl-list__item-secondary-content">
      <span class="mdl-list__item-secondary-info">{{ object.created_at }}</span>
    </span>
  </li>
{% endfor %}
</ul>

{% endblock %}



{% block script %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
$(function () {
    var myChart = Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Ranking'
        },
        xAxis: {
            categories: {% autoescape off %}{{ date_list }}{% endautoescape %},
        },
        yAxis: {
            title: {
                text: 'ranking'
            },
            reversed:true,
            min:1,
            max:25,
            tickInterval: 1,
        },
        series: [{
            name: '{{ object_list.last.url }}',
            data: {{ rank_list }}
        }]
    });

    var today_star_chart = Highcharts.chart('today_star_chart', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Today Star Count'
        },
        xAxis: {
            categories: {% autoescape off %}{{ date_list }}{% endautoescape %},
        },
        yAxis: {
            title: {
                text: 'today star count'
            },
        },
        series: [{
            name: '{{ object_list.last.url }}',
            data: {{ today_star_list }}
        }]
    });

    var star_chart = Highcharts.chart('star_chart', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Total Star Count'
        },
        xAxis: {
            categories: {% autoescape off %}{{ date_list }}{% endautoescape %},
        },
        yAxis: {
            title: {
                text: 'star count'
            },
        },
        series: [{
            name: '{{ object_list.last.url }}',
            data: {{ star_list }}
        }]
    });

    var fork_chart = Highcharts.chart('fork_chart', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Fork Count'
        },
        xAxis: {
            categories: {% autoescape off %}{{ date_list }}{% endautoescape %},
        },
        yAxis: {
            title: {
                text: 'fork count'
            },
        },
        series: [{
            name: '{{ object_list.last.url }}',
            data: {{ fork_list }}
        }]
    });

});
</script>
{% endblock %}